doctype html
html(lang="en")
  head
    title An introduction to webpack
    style.
      .line {
        display: block
      }
      .line.focus {
        background: #555;
      }
      .reveal .slides section .fragment.current-only {
        opacity: 1;
        visibility: visible;
        display: none;
      }
      .reveal .slides section .fragment.current-only.current-fragment {
        display: block;
      }
      .reveal section img {
        border: none !important;
      }
      p.horizontal-flex {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
  body
    .reveal
      .slides
        section
          h2 An introduction to
          p
            img(src=require("./assets/wp-logo-text.png"))
          p
            i by Fabian Ihl
        section
          section
            h2 What is webpack not?
            p.fragment Webpack is NOT a task runner
            p.fragment.horizontal-flex
              img(src=require("./assets/wp-logo.png"))
              b(style="font-size: 3em") &ne;
              img(src=require("./assets/gulp-grunt.png"))
            p.fragment Will it replace my task runner?
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            p Maybe...
            p.fragment: i.fa.fa-arrow-right.fa-3x
