doctype html
html(lang="en")
  head
    title An introduction to webpack
    style.
      .line {
        display: block
      }
      .line.focus {
        background: #555;
      }
      .reveal .slides section .fragment.current-only {
        opacity: 1;
        visibility: visible;
        display: none;
      }
      .reveal .slides section .fragment.current-only.current-fragment {
        display: block;
      }
      .reveal section img {
        border: none !important;
      }
      p.horizontal-flex {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
  body
    .reveal
      .slides
        section
          h2 An introduction to
          p
            img(src=require("./assets/wp-logo-text.png"))
          p
            i by Fabian Ihl
        section
          section
            h2 What is webpack not?
            p.fragment Webpack is NOT a task runner
            p.fragment.horizontal-flex
              img(src=require("./assets/wp-logo.png"))
              b(style="font-size: 3em") &ne;
              img(src=require("./assets/gulp-grunt.png"))
            p.fragment Will it replace my task runner?
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            p Maybe...
            p.fragment: i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 What is webpack?
            blockquote.fragment "webpack is a module bundler."
            blockquote.fragment "webpack takes modules with dependencies and generates static assets representing those modules."
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/what-is-webpack.png"))
            i (webpack.github.io)
          section
            p It will resolve any kind of dependency ...
            ul
              li.fragment Scripts
              li.fragment Templates
              li.fragment Stylesheets
              li.fragment Assets
              li.fragment Fonts
              li.fragment ...
            p.fragment and bundle them into a final build
          section
            p It will transpile / process
            ul
              li.fragment TypeScript
              li.fragment CoffeeScript
              li.fragment ES6
              li.fragment Less
              li.fragment Sass
              li.fragment Stylus
              li.fragment Pug (fka. Jade)
              li.fragment ...
          section
            p And do a lot more ...
            p.fragment: i.fa.fa-arrow-right.fa-3x
